<h1>Détails du timeline</h1>
<form [formGroup]="editTimeLineForm" (ngSubmit)="editTimeLine()">
  <label for="name">Nom</label>
  <input type="text" id="name" formControlName="name">
  <label for="category">Category</label>
  <input type="text" id="category" formControlName="category">
  <label for="creationDate">Date de création</label>
  <input type="date" id="creationDate" formControlName="creationDate">
  <button type="submit">Editer <br>la timeLine</button>
</form>

<span>Message: {{response.toString()}}</span>

<h1>Edition d'une carte</h1>
<form [formGroup]="editCardForm" (ngSubmit)="editCard()">
  <button type="reset" (click)="newCard()">Nouvelle Carte</button>
  <label for="cardName">Nom</label>
  <input type="text" id="cardName" formcontrolname="cardName">
  <label for="date">Date</label>
  <input type="date" id="date" formcontrolname="date">
  <label for="cardUrl">Url</label>
  <input type="text" id="cardUrl" formcontrolname="cardUrl">
  <label for="cardDescription">Description</label>
  <input type="text" id="cardDescription" formcontrolname="cardDescription">
  <button type="submit">Sauver <br>la carte</button>
</form>

<h1>Liste des cartes</h1>
<table>
  <thead>
    <th>Id</th>
    <th>Nom</th>
    <th>Date</th>
    <th>URL Image</th>
    <th>Description</th>
    <th>Editer</th>
    <th>Supprimer</th>
  </thead>
  <tbody>
    <tr *ngFor="let card of cards; let i = index" [attr.data-index]="i">
      <td>{{card?.id}}</td>
      <td>{{card?.name}}</td>
      <td>{{card?.date}}</td>
      <!--<td>{{card?.imageUrl}}</td>-->
      <td>{{card?.description}}</td>
      <td><button (click)="getCardInfo(card)">Editer</button></td>
      <td><button (click)="deleteCard(card)">Supprimer</button></td>
    </tr>
  </tbody>
</table>
