<h1>Détails du timeline</h1>
<form [formGroup]="editTimeLineForm" (ngSubmit)="editTimeLine()">
  <label for="name">Nom</label>
  <input type="text" id="name" value="{{ editGame?.name }}" formControlName="name">
  <label for="category">Category</label>
  <input type="text" id="category" value="{{ editGame?.category }}" formControlName="category">
  <label for="creationDate">Date de création</label>
  <input type="date" id="creationDate" value="{{ editGame?.creationDate }}" formControlName="creationDate">
  <button type="submit">Editer <br>la timeLine</button>
</form>

<span>Message: {{response.toString()}}</span>

<h1>Edition d'une carte</h1>
<form [formGroup]="editCardForm" (ngSubmit)="editCard()">
  <button (ngclick)="newCard()">Nouvelle Carte</button>
  <label for="cardName">Nom</label>
  <input type="text" id="cardName">
  <label for="cardDate">Date</label>
  <input type="date" id="cardDate">
  <label for="cardUrl">Url</label>
  <input type="text" id="cardUrl">
  <label for="cardDescription">Url</label>
  <input type="text" id="cardDescription">
  <button type="submit">Sauver <br>la carte</button>
</form>

<h1>Liste des cartes</h1>
<table>
  <thead>
    <th>Id</th>
    <th>Nom</th>
    <th>Date</th>
    <th>URL Image</th>
    <th>Description</th>
    <th>Editer</th>
    <th>Supprimer</th>
  </thead>
  <tbody>
    <tr *ngFor="let card of cards">
      <td>{{card?.id}}</td>
      <td>{{card?.name}}</td>
      <td>{{card?.date}}</td>
      <td>{{card?.imageUrl}}</td>
      <td>{{card?.description}}</td>
      <td><button>Editer</button></td>
      <td><button>Supprimer</button></td>
    </tr>
  </tbody>
</table>
